<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
     <div id="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href=""><img src="../../assets/ARM.png" width="100px" alt=""></a>
        
              <form class="d-flex">
                <input class="form-control me-2"  type="search"  placeholder="¿Que estas buscando"  aria-label="Search">
                <button type="button" class="btn btn-dark">Busca</button>
              </form>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  
                  <li class="nav-item">
                    <a  routerLink=""><img src="../../../assets/homejpg.jpg" width="60px" alt=""></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><img src="../../../assets/contacto.png" width="50px" alt=""></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="../../assets/me-gusta.png" width="50px" alt="">
                    </a>
                    
                  </li>
                 
                </ul>
           
              </div>
            </div>
          </nav>
    <div class = "containerFormulario">
        <h1>Login</h1>
        <form action="">
            
            
            <input type="Username" name="Username" placeholder="Username" required maxlength="15" min="15">
            
            
            <input type="password" placeholder="Password"><br>
            
        </form>
        <div class="caja">
            <input type="checkbox" name="" id="">
            <label for="checkbox">Remember me</label>
        
        <button>LOG IN</button>
        <h6>Forget password</h6>
        <div class="member">
        <h6>Not a member? <a href="Sign up now">Sign up now</a></h6>
        </div>
    </div>
</div>
    
   

