.navbar-brand{
    width: 15rem;
}
form{
    width: 40rem;
}
.nav-item{
    margin-left: 10rem;
}

input{
    width:40rem;
    border-radius: 10px;
}
img.marca{
    border-radius: 100px;
    opacity: 90%;
}


.container-fluid{
    background: aqua;
    padding-top: 1%;
    
}


.carousel .carousel-item {
    height: 60vh;


  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 60vh;
      border-radius: 10px;
  }

#elementos{
    display:flex;
    justify-content: space-between;
}
.row {
    display: flex;
    justify-content:center ;
}
