.navbar-brand{
    width: 15rem;
}
form{
    width: 40rem;
}
.nav-item{
    margin-left: 10rem;
}



.carousel .carousel-item {
    height: 60vh;


  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 60vh;
  }

#elementos{
    display:flex;
    justify-content: space-between;
}
.row {
    display: flex;
    justify-content:center ;
}
