.navbar-brand{
    width: 15rem;
}

.navbar-brand img{
    border-radius: 30px;
    width: 80px;
    opacity: 0.9;
}
.d-flex{
    width: 50rem;
}
.nav-item{
    margin-left: 10rem;
}

body{
    width: 100%;
}






.carousel-inner img {
    width: 70px;
    max-height: 450px;
}

.carousel-inner{
    margin-top: 20px;
    margin-left: 130px;
 height: 100%;
 width: 80%;
 border-radius: 30px;
} 


@media screen and (max-width: 480px){
    #carouselExampleIndicators{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #container-fluid{
        display:none;
    }
}













