<div id="contact">
    <div class="container">
        <h2>Te invitamos a que conozcas nuestros servicios!</h2>
        <div class="contact-form">
            <h5>Contáctanos!</h5>
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input  type="text" class="form-control"  />
                    
                </div>
                <div class="form-group">
                    <label  for="email">Email</label>
                    <div class="label">
                    <input type="email" class="form-control" />
                </div>
                </div>
                <div class="form-group">
                    <label  for="message">Message</label>
                    <textarea  name="message" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <button class="btn btn-dark">Send</button>
            </form>
        </div>
    </div>
</div>
