
<body>
    <!-- barra de navegacion-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href=""><img src="../../assets/ARM.png" width="100px" alt=""></a>
    
          <form class="d-flex">
            <input class="form-control me-2"  type="search"  placeholder="¿Que estas buscando"  aria-label="Search">
            <button type="button" class="btn btn-dark">Buscar</button>
          </form>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><p class="text-primary">Iniciar Sesion</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><img src="../assets/" width="30px" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="./IMG/carro-de-la-carretilla.png" width="30px" alt=""></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="./IMG/me-gusta.png" width="30px" alt="">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
              </li>
            </ul>
       
          </div>
        </div>
      </nav>
    
      <!--Banner-->
    
      <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="IMG/Negro y Celeste Clásico Negro y Neón Electrónica y Electrodomésticos Banner.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
    
      <!--cards1-->
      <div class="row row-cols-1 row-cols-md-2 g-4">
       
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    
    <!--Container-->
    
    <!-- Remove the container if you want to extend the Footer to full width. -->
   
      <!-- Footer -->
     <!--Footer-->
<!--Footer-->
<div class="">
    <div class="card text-center">
        <div class="card-body bg-dark text-light">
          <h5 class="card-title">!Hey¡ no olvides seguirnos en</h5>
          <div class="IMG-CONTAINER d-flex justify-content-center mb-3 mt-3">
           <a class="IMG-foot" href="https://es-la.facebook.com/" target="_blank"> <img
           src="./img/facebook.png"
           alt="Bootstrap"
           width="50"
           height="50"
           />
           </a>
           <a class="IMG-foot" href="https://www.instagram.com/" target="_blank"> <img
            src="./img/instagram.png"
            alt="Bootstrap"
            width="50"
            height="50"
            />
           </a>
           <a class="IMG-foot" href="https://www.tiktok.com/es/" target="_blank"> <img
            src="./img/tiktok.png"
            alt="Bootstrap"
            width="50"
            height="50"
            />
           </a>
           </div>
           <h6>this page was made by Juan Rosero</h6>
        
          <a href="https://www.youtube.com/watch?v=KwpOFcZhzJA" target="_blank" class="btn btn-primary mt-3 mb-3">!Reserva ahora¡</a>
        </div>
    
      </div>
    </div>






